/* font import here */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    margin: 0;
    padding: 0;
}
header .header-title{
    margin-left: 279px;
    margin-top: 61px;
    
}
header .header-title h2{
    font-size: 30px;
    font-weight: bold;
}
/* top section css starts from here */

/* top section-left-text */
.top-section{
    margin-top: 200px;
    display: flex;
    margin-left: 90px;
}
.top-section .left-text{
    margin-left: 190px;
}


.top-section .left-text h1{
    font-size: 68px;
    font-weight: bolder;

}

.top-section .left-text h2{
    font-size: 68px;
    font-weight: bolder;
    margin-top: -47px;
}
.top-section .left-text p{
    font-size: 21px;
    font-weight: 600;
    margin-top: 10px;
}
.top-section .left-text .left-text-button{
    width: 260px;
    height: 50px;
    padding: 8px;
    border: none;
    border-radius: 15px;
    margin-top: 19px;
    background-color: #ff5694;
}
.top-section .left-text .left-text-button:hover{

background-color: darkcyan;
transition: background-color 3s ease;
width: 270px;

}
.top-section .left-text .left-text-button h3{
    font-size: 21px;
    font-weight: bold;
    color: white;
    margin-top: 6px;
    margin-left: auto;
}
.top-section .left-text .left-text-button h3 .fa-arrow-right{
    margin-left: 7px;
}
/* top section right-text starts from here */

.top-section .right-text{
    
    width: 40%;
    margin-left: 65px;
    margin-top: -7px
    
}
.top-section .right-text img{
    width: 600px;
    height: 550px;
    background-repeat: no-repeat;
}
.top-section .right-text img:hover{
    transform: scale(1.1) rotate(360deg);
    transition: transform 3s ease-in-out;

}
/* ----------------------------------------------------------------------------
Product section css starts from here--------------- */
.product-section{
 margin-top: 180px;

}
.product-section .product-section-title h2{
font-size: 30px;
font-weight: bold;
text-align: center;
}
.product-section .products{
    
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3,350px);
    gap: 28px;
    justify-content: center;

    
}
.product-section .product{
    width: 350px;
    height: 476px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 40px 0px #00000026;

   
}

.product .product-img img{
    width: 300px;
    height: 256px;
    margin: 24px;
}
.product .product-detail{
    margin-left: 29px;
    margin-top: -29px;
}
.product .product-detail h1{
    font-size: 28px;
    font-weight: 500;
    margin-top: 10px;
}
.product .product-detail h2{
    font-size: 24px;
    margin-top: -8px;
}
.product .product-detail p{
    font-size: 16px;
    margin-top: 1px;
}
.product-detail .product-info{
    display: flex;
    align-items: center;
    margin-top: -26px;
}
.product-icon .icon .fa-star{
    font-size:14px ;
    color: orange;
}
.product-detail .product-info p{
    font-size: 14px;
    font-weight: bold;
}

/* subscribe box css starts from here */

.box {
    width: 80%;
    height: 400px;
    background-color: blanchedalmond;
    margin-left: 200px;
    margin-top: 73px;
    border-radius: 15px;
    


}

.box .box-title{
    position: absolute;
    margin-left: 23%;
    margin-top: 123px;
}
.box .box-title h1{
    font-size: 50px;
}
.box .box-button{
    background-color:  #ff5694;
    width: 260px;
    height: 50px;
    padding: 8px;
    border: none;
    border-radius: 15px;
    margin-left: 39%;
    margin-top: 267px;

}
.box .box-button h3{
   
    font-size: 21px;
    font-weight: bold;
    color: white;
    margin-top: 6px;
    margin-left: auto;   
}
.box .box-button:hover{
    background-color: darkcyan;
transition: background-color 3s ease;
width: 270px;

    
}

/* footer section css starts from here */
.footer{
    width: 100%;
    background-color: rgb(2, 2, 17);
    height: 350px;
    margin-top: 73px;
    padding: 28px;
}
.footer .footer-text{
margin-left: 41%;
}
.footer .footer-text h1{
color: white;
margin-left: 5px;
font-size: 30px;
}
.footer .footer-text h2{
    color: white;
    margin-left: -10px;
    font-size: 18px;
}
.footer .footer-text h3{
    color: white;
    margin-left: 42px;
    font-size: 18px;
}
.footer .footer-icon{
    margin-left: 42%;
    margin-top: 36px;
}

.footer .footer-icon .social{
    color: white;
    margin-left: 24px;
}

/* media queries starts from here */
/* responsive mobile devices */
@media screen and (min-width: 0px) and (max-width:576px){
    body{
        background-color: coral;
        
    }
    
    .header .header-title{
        margin-left: 210px;
        margin-top: 61px;
    }
    .header .header-title h2{
        font-size: 20px;
        font-weight: bold;
    
    }
    .top-section{
        flex-direction: column;
    }
    .top-section .right-text{
        margin-top: -560px;
        margin-left: 119px;
    }
    .top-section .right-text img{
        width: 260px;
    height: 248px;
    }
    .top-section .left-text{
        margin-top: 183px;
        margin-left: 15px;
    }
    .top-section .left-text h1{
        font-size: 35px;
        margin-top: -23px;
        margin-left: 41px;
    }
    .top-section .left-text h2{
        font-size: 35px;
        margin-top: 10px;
        margin-left: 116px;
    }
    .top-section .left-text p{
        font-size: 20px;
        margin-top: 10px;
    }
    .top-section .left-text .left-text-button{
        width: 194px;
        height: 44px;
        margin-left: 95px;
    }
    .top-section .left-text .left-text-button h3{
       font-size: 17px;
    }
    .product-section .product-section-title{
        margin-top: -103px;
        position: absolute;
        margin-left: 210px;
}
    
    .product-section .products{
        display: grid;
        grid-template-columns: repeat(1,200px);
        margin-top: 684px;
        margin-right: 99px;
        

    }
    .box .box-title{
        margin-left: 19%;
        margin-top: 42px;
    }

    
    .sub .box{
        width: 100%;
        height: 400px;
        background-color: blanchedalmond;
        margin-left: 30px;
        margin-top: 73px;
        border-radius: 15px;
    }
    .box .box-title h2{
        font-size: 28px;
    }
    .box .box-button{
        background-color: #ff5694;
        width: 194px;
        height: 45px;
        padding: 8px;
        border: none;
        border-radius: 15px;
        margin-left: 27%;
        margin-top: 232px;
    }
    .footer .footer-text{
        margin-left: 25%;
    }
    .footer .footer-icon{
        margin-left: 30%;
        margin-top: 36px;
    }
}

   



